# Author: 可莉🅥
# ChatGPT 2024-04-15 10:00:44
HOST, api.statsig.com, proxy
HOST, browser-intake-datadoghq.com, proxy
HOST, cdn.openai.com, proxy
HOST, chat.openai.com, proxy
HOST, chat.openai.com.cdn.cloudflare.net, proxy
HOST, ios.chat.openai.com, proxy
HOST, o33249.ingest.sentry.io, proxy
HOST, openai-api.arkoselabs.com, proxy
HOST, openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net, proxy
HOST, openaicomproductionae4b.blob.core.windows.net, proxy
HOST, production-openaicom-storage.azureedge.net, proxy
HOST, static.cloudflareinsights.com, proxy
HOST-SUFFIX, algolia.net, proxy
HOST-SUFFIX, auth0.com, proxy
HOST-SUFFIX, chatgpt.com, proxy
HOST-SUFFIX, challenges.cloudflare.com, proxy
HOST-SUFFIX, client-api.arkoselabs.com, proxy
HOST-SUFFIX, events.statsigapi.net, proxy
HOST-SUFFIX, featuregates.org, proxy
HOST-SUFFIX, identrust.com, proxy
HOST-SUFFIX, intercom.io, proxy
HOST-SUFFIX, intercomcdn.com, proxy
HOST-SUFFIX, launchdarkly.com, proxy
HOST-SUFFIX, oaistatic.com, proxy
HOST-SUFFIX, oaiusercontent.com, proxy
HOST-SUFFIX, observeit.net, proxy
HOST-SUFFIX, openai.com, proxy
HOST-SUFFIX, openaiapi-site.azureedge.net, proxy
HOST-SUFFIX, openaicom.imgix.net, proxy
HOST-SUFFIX, segment.io, proxy
HOST-SUFFIX, sentry.io, proxy
HOST-SUFFIX, stripe.com, proxy
HOST-KEYWORD, openaicom-api, proxy

# Copilot 2024-04-14 16:05:36
HOST, api.githubcopilot.com, proxy
HOST, bat.bing.com, proxy
HOST, browser.events.data.microsoft.com, proxy
HOST, config.edge.skype.com, proxy
HOST, content.lifecycle.office.net, proxy
HOST, copilot-proxy.githubusercontent.com, proxy
HOST, copilot.microsoft.com, proxy
HOST, edge.microsoft.com, proxy
HOST, edgeservices.bing.com, proxy
HOST, functional.events.data.microsoft.com, proxy
HOST, login.live.com, proxy
HOST, services.bingapis.com, proxy
HOST, storage.live.com, proxy
HOST, strict.bing.com, proxy
HOST, sydney.bing.com, proxy
HOST, www.bing.com, proxy
HOST, www.bingapis.com, proxy
HOST-SUFFIX, bing.com, proxy

# Bing AI 2024-02-04 21:29:04
HOST-SUFFIX, bing.com, proxy
HOST-SUFFIX, bing.com.cn, proxy
HOST-SUFFIX, bing.net, proxy
HOST-SUFFIX, bingagencyawards.com, proxy
HOST-SUFFIX, bingapistatistics.com, proxy
HOST-SUFFIX, bingsandbox.com, proxy
HOST-SUFFIX, bingvisualsearch.com, proxy
HOST-SUFFIX, bingworld.com, proxy

# Gemini 2024-03-31 15:02:45
HOST, aistudio.google.com, proxy
HOST, bard.google.com, proxy
HOST, gemini.google.com, proxy
HOST, generativelanguage.googleapis.com, proxy

# Claude 2024-04-14 16:05:36
HOST-SUFFIX, anthropic.com, proxy
HOST-SUFFIX, claude.ai, proxy
IP-CIDR, 160.79.104.0/23, proxy
IP6-CIDR, 2607:6bc0::/48, proxy